# Files and directories created by pub.
.dart_tool/
.packages
build/
pubspec.lock

# Flutter/Dart/Pub related
**/doc/api/
.flutter-plugins
.flutter-plugins-dependencies

# IDE / editor
.idea/
.vscode/
*.iml
*.ipr
*.iws
.DS_Store

# OS
Thumbs.db

# Coverage
coverage/

# Example app build artifacts (if kept)
example/.dart_tool/
example/build/
example/ios/Pods/
example/ios/.symlinks/
example/android/.gradle/
example/android/app/build/
